body {
    font-family: system-ui;
    text-align: center;
}

#canvas-container {
    margin: auto; 
    padding: 2em;
    padding-top: 2.2em;
    margin-top: 5em;
    margin-bottom: 5em;
    background-image: url("../img/wheel_back.png");
    background-position: center;
    background-repeat: no-repeat;
}

#canvas:hover {
    cursor: pointer;
}